# GROUP BY Statements

### In this notebook we study some use case examples of the GROUP BY statments. We use Python as our main programming language and make use of libraries such as Pandas ans Psycopg2 to present the results of the queries.

# Aggregate Functions

Before we study the GROUP BY statements we must learn about aggregate functions. SQL provides us with a large number of aggregate function but we'll just cover a few of them here, the ones that I belive are the most common. 

The main idea behind the aggregate functions is to take several inputs and return a single input. In our particular case, we'll pass the values of one column (or a subset of those values) to an aggregate function as the input and it will return a single value made out of the values of the column.

In fact weÂ´ve already seen an example of aggregate function. The COUNT() function takes a set of rows and returns the number of those rows.

## Ex. 1 (AVG)

We can use the AVG (average function) to calculate the average replacement cost of the films in the database